<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
       <title>{{pageTitle}}</title>
        <meta http-equiv="refresh" content="900">
    </head>
    <body>
       {{{body}}}
    </body>
</html>