
 <div id="login">
      <section>
            <h2>What is TravelPal?</h2>
            <p>TravelPal serves as a social media application in which individuals can find travel companions among
                their group of friends. If one individual wants to travel to Europe the last week of August, this web
                application allows this individual to find a travel partner that would have the same budget, destination
                choice, and timeline. To ensure maximum safety, individuals can only travel with designated friends. The
                purpose of this application is to provide and plan meaningful experiences with friends and family.</p>
        </section>

        <div >
               <img src="https://heymondo.com/blog/wp-content/uploads/2021/03/shutterstock_371958268_compressed.jpg"
                alt="USA Map" class="image">
             
    
     <div class="form-group">
            <label for="inputPassword4">Username</label>
            <input  class="form-control"
            type="text" id="username" name="username" placeholder="Enter your username">
             </div>
               <span id="username-error" class="error"></span>
             <div class="form-group">
            <label for="inputPassword4">Password</label>
            <input class="form-control"
            type="password" id="password" name="password" placeholder="Enter your password">
             </div>
          <span id="password-error" class="error"></span>

          <span id="login-error" class="error"></span>
             <div class="form-group">
              <button type="submit" class="btn btn-primary" id="login" onclick="login()">Login</button>
        
             <a href="/register" class="btn btn-primary">Registration</a>
             </div>


        
    </div>
 </div>



