 <div class="col-md-10">
 <h1 class="card-title">Profile</h1>
<div class="card" style="width: 18rem;">
  <img src="public/icons/pic.png" class="card-img-top" alt="">
  <div class="card-body" id="profile" >
  </div>
</div>
</div>
