 <div class="col-md-10" id="profile">

      <form class="form-inline search" id="searchFriends">
      <label for="search_term">Search for a friend:</label>
      <input id="search_term" name="searchForm" placeholder="Search" class="form-control here" type="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>

     <div id="friends" style="display: none;"></div>

</div>