

<div class="col-md-10">
      <h1 style="text-align: center;">Welcome to Registration Form</h1>

<form id="registration">

    <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" aria-describedby="firstname" placeholder="Enter first name">
    <small id="firstname-error" class="form-text text-muted"></small>
  </div>

   <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Enter last name">
    <small id="lastname-error" class="form-text text-muted"></small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="email-error" class="form-text text-muted"></small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Phone Number</label>
    <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneNumber" placeholder="Enter phone number">
    <small id="phoneNumber-error" class="form-text text-muted"></small>
  </div>

  <div class="form-group">
    <label for="username">User Name</label>
    <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter user name">
    <small id="username-error" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<span id="registration"></span>
</div>